
.wa-date-picker {
    position: fixed;
    z-index: 500;
}

.wa-date-time-inp {
    width: 22px;
    text-align: center;
}

.wa-date-calendar a, .wa-date-calendar a:hover { text-decoration: none; }

.wa-date-calendar {
    width: 350px;
    margin: auto;
    z-index: 510;
    background-color: #FFF;
}

.wa-date-picker table {
    width: 100%;
}

.wa-date-picked-btn {
    color: $primaryTextColor;
}

.wa-date-picker-bg {
    background-color: #000;
    z-index: 490;
    opacity: 0.6;
}

input.date-focus {
    outline: 3px solid #0D468C;
}

.wa-date-header, .wa-date-range, .wa-date-month-nav {
    padding: 14px;
    margin: 0;
    z-index: 10;
}

.wa-date-month-nav, .wa-date-month-nav svg { display: block; }

.wa-date-month-nav svg {
    width: 8px;
    height: 18px;
}
.wa-date-month-nav svg path { stroke-width: 2px; }
.wa-date-month-nav:hover svg path { stroke: #0D468C; }

.wa-date-range { border-bottom: 1px solid $borderColor; }
.wa-date-calendar table td, .wa-date-calendar table th { padding: 0; border: 1px solid $borderColor; }

.wa-date-calendar table td a, .wa-date-calendar table td span, .wa-date-calendar table th span {
    padding: 8px 10px;
    display: block;
}

.wa-date-calendar .date-weekday { background-color: $secondaryBgColor; }

.wa-date-calendar .date-week { font-size: 10px; }
.wa-date-calendar .date-week span { padding-right: 6px; padding-left: 6px; }

.wa-date-calendar .date-day.today, .wa-date-calendar .date-day.today a { color: $linkTextColor; }
.wa-date-calendar .date-day.today { font-weight: bold; }
.wa-date-calendar .date-day.invalid-range {
    color: $secondaryTextColor;
    background-color: $secondaryBgColor;
}

.active .wa-date-picked-btn, .wa-date-calendar .date-day.today.active a { color: #FFF; }

.wa-date-calendar .date-day.active {
    background-color: $primaryBgColor;
    color: #FFF;
}

.wa-date-calendar.range-error .wa-date-range { color: $redColor; }
.wa-date-calendar table th { font-size: 11px; }
table tr td.date-day { font-size: 15px; }
