/* Tooltip --- START --- */


.dots { cursor: pointer; }
.dots::after {
    content: '\00B7\00B7\00B7';
    font-size: 2.0rem;
    letter-spacing: 2px;
    padding: 7px 0;
    display: block;
}

.tooltip, .tooltip aside::after {
    position: absolute;
    z-index: 10;
   
}

.tooltip aside::after, *:hover > .tooltip, .tooltip li a {
    display: block;
}

.tooltip {
    display: none;
}

.tooltip {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip aside, .tooltip aside::after {
    background-color: #FFF;
    border: 1px solid $borderColor;
}

.tooltip aside {
    min-width: 150px;
    box-shadow: 0 10px 15px -12px rgba(0,0,0,0.10);

    overflow: hidden;
    border-radius: 10px;
}

.tooltip aside::after {
    content: " ";
    width: 20px;
    height: 20px;

    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: -10px;
    
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
}

*:hover > .tooltip { z-index: 500; }

.tooltip ul li {
    font-size: 1.3rem;
    border-bottom: 1px solid $borderColor;
    text-align: left;
    position: relative;
    z-index: 510;
}

.tooltip ul li:last-child {
    border: none;
}

.tooltip li a {
    color: inherit;
    padding: 8px 15px;
}

.tooltip li a:hover {
    background-color: $secondaryBgColor;
}

.tooltip.bottom, .tooltip.bottom aside::after { bottom: auto; }
.tooltip.bottom.right, .tooltip.bottom.right aside::after { left: auto; }
.tooltip.bottom { top: 100%; }

.tooltip.bottom.right {
    right: calc(50%);
    transform: translateX(21%);
}

.tooltip.bottom aside::after {
    top: -10px;
    border: 1px solid $borderColor;
    border-bottom: none;
    border-right: none;
}

.tooltip.bottom.right aside::after {
    right: 23px;
}

/* Tooltip --- END --- */